body{
  background-color: #000;

}
.logomenu{
  margin-top: -90px;

}
.bgcor {
  background: rgb(5,19,68);
  background: linear-gradient(80deg, rgba(5,19,68,1) 0%, rgba(2,16,42,1) 93%);

}

.navbar {
  padding-top: 80px;
  border-radius: 0;

}
a{
  color: white;

}
.pesquisa {
  position: absolute;
  border: none;
  border-radius: 5px;
  margin-top: -50px;
  right: 0;
  left: 0;
  width: 450px;
  height: 60px;
}
